# This file is deprecated - use requirements.txt instead
# All dependencies have been consolidated into a single requirements.txt file
# with updated versions and better organization.

# To install web app dependencies:
# pip install -r requirements.txt

-r requirements.txt